<section class="offer-info">
  <div class="offer-info__column">
    <div
      class="offer-info__item offer-info__item_best offer-info__item_active"
      data-href="https://apple.com/"
    >
      <div class="best-offer text">BEST OFFER</div>
      <div class="offer-info__row">
        <div class="offer-info__title-block">
          <div class="offer-info__title text">YEARLY ACCESS</div>
          <div class="offer-info__per-year text" id="yearly-access-price">Just {{price}} per year</div>
        </div>
        <div class="offer-info__per-week text" id="weekly-price-best">{{price}} <br>per week</div>
      </div>
    </div>
    <div class="offer-info__item" data-href="https://google.com/">
      <div class="offer-info__row">
        <div class="offer-info__title text">WEEKLY ACCESS</div>
        <div class="offer-info__per-week text" id="weekly-price">{{price}} <br>per week</div>
      </div>
    </div>
  </div>
  <a class="offer-button text" href="https://apple.com/">Continue</a>
</section>
