<section class="offer-info">
  <div class="offer-info__column">
    <div
      class="offer-info__item offer-info__item_best offer-info__item_active"
      data-href="https://apple.com/"
    >
      <div class="best-offer">best offer</div>
      <div class="offer-info__row">
        <div class="offer-info__title-block">
          <div class="offer-info__title">Yearly access</div>
          <div class="offer-info__per-year">
            Just <span class="price__currency">$</span
            ><span class="price__sum">39.99</span>
            <span class="price__long">per year</span>
          </div>
        </div>
        <div class="offer-info__per-week">
          <div>
            <span class="price__currency">$</span
            ><span class="price__sum">0.48</span>
          </div>
          <div class="price__long">per week</div>
        </div>
      </div>
    </div>
    <div class="offer-info__item" data-href="https://google.com/">
      <div class="offer-info__row">
        <div class="offer-info__title">Weekly access</div>
        <div class="offer-info__per-week">
          <div>
            <span class="price__currency">$</span
            ><span class="price__sum">6.99</span>
          </div>
          <div class="price__long">per week</div>
        </div>
      </div>
    </div>
  </div>
  <a class="offer-button" href="https://apple.com/">Continue</a>
</section>
