<section class="banner">
  <div class="banner">
    <a href="#" class="banner__close-link">
      <svg class="banner__close">
        <use xlink:href="#svg-close"></use>
      </svg>
    </a>

    <h1 class="banner__heading">Get Unlimited Access</h1>
    <section class="offer-gallery">
      <div class="offer-gallery__item">
        <h2 class="offer-gallery__title">Unlimited Art Creation</h2>
      </div>
      <div class="offer-gallery__item">
        <h2 class="offer-gallery__title">Exclusive Styles</h2>
      </div>
      <div class="offer-gallery__item">
        <h2 class="offer-gallery__title">Magic Avatars With 20% Off</h2>
      </div>
    </section>
    <section class="offer-info">
      <div
        class="offer-info__item offer-info__item_best offer-info__item_active"
        data-href="https://apple.com/"
      >
        <div class="offer-info__row">
          <div class="offer-info__title">Yearly access</div>
          <div class="offer-info__per-year">
            Just <span class="price__currency">$</span
            ><span class="price__sum">39.99</span>
            <span class="price__long">per year</span>
          </div>
        </div>
        <div class="offer-info__per-week">
          <div>
            <span class="price__currency">$</span
            ><span class="price__sum">0.48</span>
          </div>
          <div class="price__long">per week</div>
        </div>
      </div>
      <div class="offer-info__item" data-href="https://google.com/">
        <div class="offer-info__row">
          <div class="offer-info__title">Weekly access</div>
        </div>
        <div class="offer-info__per-week">
          <div>
            <span class="price__currency">$</span
            ><span class="price__sum">6.99</span>
          </div>
          <div class="price__long">per week</div>
        </div>
      </div>
    </section>
    <a class="offer-button" href="https://apple.com/"> Continue </a>
  </div>
</section>
