<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="BP Mobile - Julia Vlasova">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BP Mobile - Julia Vlasova</title>

    <link rel="stylesheet" href="output/css/global.min.css" type="text/css" />
    <link rel="preload" as="style" href="src/style/fonts/fonts.css" type="text/css" />
    <link rel="stylesheet" href="src/style/fonts/fonts.css" type="text/css" />
</head>

<body>
    <div class="p-wrapper">
        <div class="banner">
        @@include('./banner-top.html')
        @@include('./banner-gallery.html')
        @@include('./banner-offer.html')
        @@include('./banner-footer.html')
        </div>
    </div>

    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" fill="none" id="svg-close">
            <path id="Cross" fill-rule="evenodd" clip-rule="evenodd" d="M10.5158 9.89951L18.6248 1.79052L19.2216 2.38732L11.1126 10.4963L19.5 18.8837L18.8837 19.5L10.4963 11.1126L2.38732 19.2216L1.79052 18.6248L9.89951 10.5158L1.5 2.11628L2.11628 1.5L10.5158 9.89951Z" stroke="white" stroke-opacity="0.4" stroke-linejoin="round"/>
        </symbol>
    </svg>

    <script src="output/js/offer-button.min.js" type="text/javascript" defer="defer"></script>
    <script src="output/js/languages.min.js" type="text/javascript" defer="defer"></script>
    <script src="output/js/price.min.js" type="text/javascript" defer="defer"></script>
</body>

</html>