@use "../mixins/languages" as *;

@include multi-select(fr, ja, pt) {
  .banner__heading {
    font-size: 38px;
    max-width: 100%;
  }

  .banner-footer {
    gap: 18px;
  }
}

@include lang-select(de) {
  .banner__heading {
    font-size: 26px;
    line-height: 1.2;
    max-width: 100%;
  }

  .banner {
    .offer-info {
      &__item {
        padding: 6px 32px 6px 23px;
      }

      &__title {
        font-size: 14px;
      }
    }
  }

  .banner-footer {
    gap: 10px;

    &__item {
      font-size: 11px;
    }
  }
}

@include lang-select(fr) {
  .banner-footer {
    gap: 10px;

    &__item {
      font-size: 10px;
    }
  }

  .banner {
    .offer-info {
      &__item {
        padding: 6px 32px 6px 23px;
      }

      &__title {
        font-size: 14px;
      }
    }
  }
}

@include lang-select(es) {
  .banner-footer {
    gap: 18px;
  }

  .banner {
    .offer-info__item {
      padding: 6px 44px 6px 23px;
    }
  }
}

@include lang-select(pt) {
  .banner {
    .offer-info__item {
      padding: 6px 44px 6px 23px;
    }
  }
}
