@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;

.hidden {
  display: none;
}

body {
  background: map-get($colors, "color-body");
}

.p-wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

