@use "../variables/heading" as *;

// @example scss
// @include heading('1');

@mixin heading(
  $size: null,
) {
  margin-top: 0;
  font-size: map-get($heading--font-size, $size);
  line-height: map-get($heading--line-heights, $size);
}