@use "colors" as *;

$heading-color: map-get($colors, "main");
$heading-font-weight: 400;
$heading-font-family: "stolzl-bold", Arial, sans-serif;

$heading--font-size: (
  "1": 42px,
);

$heading--line-heights: (
  "1": 46px,
);
