@use "../variables/_colors" as *;
@use "../mixins/mixins" as *;


.banner {
  .offer-gallery {
    display: flex;
    justify-content: space-between;

    &__item {
      padding: 10px 10px 3px 7px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 104px;
      height: 139px;
    }

    &__title {
      @include text('color-white', 'xs');
      letter-spacing: .7px;

      &:nth-child(2) {
        max-width: 50px;
      }
    }
  }
}


